.filterByNameSection {
    overflow: hidden;
}

.formByName {
    padding: 1rem 5.5rem;
    display: grid;
    justify-items: end;
    justify-content: end;
}

label {
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.formByName div {
    display: flex;
    justify-content: end;
    position: relative;
    align-items: center;
}

.formByName input {
    font-family: 'Signika Negative', sans-serif;
    border: none;
    background-color: #635985;
    color: white;
    min-width: 450px;
    width: 50%;
    padding: 1rem;
    border-radius: 100vmax;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.formByName div img {
    width: 2rem;
}

.buttonSearch {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
}


@media(max-width:721px) {
    .formByName {
        justify-content: center;
    }

    .formByName input {
        min-width: 225px;
    }
}