.root {
    position: relative;
}

.infoMessage {
    background-color: #443c68;
    border-radius: 100vmax;
    padding: .3rem 1rem;
    position: fixed;
    bottom: 2%;
    right: 3%;
    z-index: 999;
    text-align: center;
}

@media (max-width: 1000px) {
    .infoMessage {
        font-size: .7rem;
    }
}