.movieIndividualInfo {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    user-select: none;
}

.individualInfo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ratingAndTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    user-select: none;
}

.individualPoster {
    border-radius: 2rem;
    position: relative;
    margin-top: -16rem;
    z-index: 2;
    height: 20rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    user-select: none;
}

.infoContainer h3 {
    font-size: 2rem;
    margin-bottom: .5rem;
    opacity: .9;
}

.infoContainer p {
    text-align: justify;
    font-weight: 300;
    opacity: .9;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    column-gap: .5rem;
    row-gap: 0;
}

.genres p {
    background-color: #8e7ddd;
    padding: .2rem .5rem;
    border-radius: 100vmax;
    text-align: center;
}


.cardTrending img {
    user-select: none;
    -webkit-user-drag: none;
}

.cardTrending .actorName {
    user-select: none;
    position: absolute;
    bottom: 2%;
    background-color: rgba(0, 0, 0, 0.521);
    margin: 0;
    width: 100%;
    text-align: center;
}

.trailerContainer {
    margin-top: 3rem;
}

.iframeContainer {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    border-radius: 2rem;
}

.iframeContainer iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.similarTitles {
    margin-top: 4rem;
}


@media (min-width:1000px) {
    .ratingAndTitle {
        justify-content: start;
        align-items: baseline;
        gap: 1rem;
    }

    .infoContainer {
        padding: 0 6rem;
    }

    .infoContainer .title {
        font-size: 3rem;
    }

    .infoContainer .overview {
        font-size: 2rem;
    }

    .rating {
        font-size: 2rem;
    }


    .genres p {
        font-size: 1.2rem;
    }
}

@media (max-width:500px) {
    .genres {
        justify-content: space-around;
    }

}