.containerTrending {
    overflow: hidden;
}

.trendingSection {
    padding: 3rem;
    display: grid;
    user-select: none;
}

.trendingSection h3 {
    margin-top: 0;
    opacity: .8;
}

.trendingContainer {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 1rem;
}

.trendingContainer div {
    max-width: 100%;
    flex: 0 0 auto;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.trendingContainer::-webkit-scrollbar {
    height: 10px;
}

@media(max-width:1000px) {
    .trendingContainer::-webkit-scrollbar {
        height: 1px;
    }
}

.trendingContainer::-webkit-scrollbar-thumb {
    background-color: rgb(172, 172, 172);
    border-radius: 2rem;
}

.trendingContainer .posterTrending {
    width: 100%;
    height: 98%;
    object-fit: cover;
    opacity: .8;
}

.cardTrending {
    overflow: hidden;
    scroll-snap-align: start;
    cursor: pointer;
}

.trendingContainer .cardTrending {
    position: relative;
}

.trendingContainer .infoExtra {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 98%;
    width: 200%;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.404);
}

.infoExtra h4 {
    margin: .5rem 0 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}

.infoExtra p {
    margin: 0;
    padding-left: 1rem;
    font-weight: 300;
}

.cardTrending .calification {
    position: absolute;
    top: 0;
    z-index: 2;
    padding-left: 1rem;
    box-shadow: none;
}

.highRating {
    background-color: rgb(0, 128, 0);
    border-radius: 100vmax;
    width: fit-content;
    padding: .2rem .5rem;
    opacity: .8;
}

.mediumRating {
    background-color: orange;
    border-radius: 100vmax;
    width: fit-content;
    padding: .2rem .5rem;
    opacity: .8;
}

.lowRating {
    background-color: rgba(255, 0, 0, 0.521);
    border-radius: 100vmax;
    width: fit-content;
    padding: .2rem .5rem;
    opacity: .8;
}

@media (min-width:450px) {
    .trendingContainer div {
        width: 50%;
    }
}

@media(min-width:750px) {
    .trendingContainer div {
        width: 34%;
    }
}

@media(min-width:1000px) {
    .trendingSection {
        padding: 3rem 6rem;
    }

    .trendingContainer div {
        width: 20%;
    }
}